name: Build and Deploy
on:
  push:
  pull_request:
    types:
      - closed

env:
  BRANCH_PREFIX: $(cat gradle.properties | grep mod_version | cut -d'+' -f2)

jobs:
  build:
    strategy:
      matrix:
        java: [
          17,
        ]
        os: [ubuntu-20.04, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '17' }}
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: build/libs/
      - name: deploy test
        if: ${{ runner.os == 'Linux' && matrix.java == '17' }} && github.ref == 'refs/heads/${{ env.BRANCH_PREFIX }}/main'
        run: echo "THIS IS A TEST NOBODY PANIC. Also, variable is ${{ env.BRANCH_PREFIX }}"
